#watch-header{
  position: relative;
}

.hu-button{
  position: absolute;
  padding: 10px;
  font-size: 20px;
  right: 5%;
  top: 26%;
  font-size: 20px;
  border-radius: 6px;
  background-color: #6BB9F0;
}